/* Web Accessibility
================================================== */

/* Visually hide content that is specific to screen readers */
.hidden, a.hidden-link {
	position: absolute;
	left: -999999px;
}

a.hidden-link:focus {
	position: relative;
	left: 0px;
}
