/* Web Accessibility
================================================== */

/* Visually hide content that is specific to screen readers */
.hidden, a.hidden-link {
	position: absolute;
	left: -999999px;
}

a.hidden-link:focus {
	position: relative;
	left: 0px;
}


/* Universal link focus styles */
/* Override border-color in theme CSS with more theme-specific color if desired */
a:focus{
  border: 3px solid;
  border-color: #ff0000;
}